/* Articles Section - START */


.articles{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}
/* Articles Section - END */

/* Employees Section - START */

.custom-radio .ant-radio-checked .ant-radio-inner {
    border-color: var(--radio-color); /* Change the border color */
    background-color: var(--radio-color); /* Change the inner circle color */
  }
  
  .custom-radio .ant-radio-inner {
    border-color: var(--radio-color); /* Change the border color for unselected state */
  }
  
  .custom-radio .ant-radio:hover .ant-radio-inner {
    border-color: var(--radio-color); /* Change hover effect */
  }
  
/* Add gap between cards */
.custom-card {
  margin-bottom: 16px; /* Space below each card */
}

/* For the mt-4 class if not defined already */
.mt-4 {
  margin-top: 16px;
}

/* Custom statistic styling */
.custom-stat .ant-statistic-content {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 13px;
}

.custom-stat .ant-statistic-content-value {
  font-size: 14px;
}

.stat-title {
  font-size: 12px;
  font-weight: 500;
}

/* Employees Section - END */